{% load staticfiles %}

<HTML>
  <HEAD>
    <META CHARSET="UTF-8">
    <LINK REL="stylesheet" TYPE="text/css" HREF="{% static 'css/default.css' %}">
    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
    <TITLE>{% block title %} Tiago's movies catalogue {% endblock  %}</TITLE>
  </HEAD>

  <BODY>
    <DIV ID="header">
      {% block header %}
      <A HREF="{% url 'index'  %}">
      <IMG ID="header_image" SRC="{% static 'images/logo.png' %}">
      </A>
      {% endblock header %}

      {% block login  %}
      {% endblock login %}
    </DIV>

    <DIV ID="menu">
      <UL>
	<LI><A HREF="{% url 'movies'  %}"> Movies </A></LI>
	<LI><A HREF="{% url 'categories'  %}"> Categories </A></LI>
	{% if user.is_authenticated %}
	<LI><A HREF="{% url 'add_movie' %}"> Add Movie </A></LI>
	<LI><A HREF="{% url 'add_category' %}"> Add Category </A></LI>
	<LI><A HREF="{% url 'logout'  %}"> Logout </A></LI>
	{% else %}
	<LI><A HREF="{% url 'login'  %}"> Login </A></LI>
	<LI><A HREF="{% url 'adduser' %}"> Sing up </A></LI>
	{% endif %}
	
      </UL>
    </DIV>

    <DIV ID="content">
      {% block body %}
      {% if user.is_authenticated %}
      <p>Welcome, <B>{{ user.username }} </B>. Thanks for logging in.</p>
      {% else %}
      <p>Welcome, new user. Please
	<A HREF="{% url 'login'  %}">log in </A>.</p>
      {% endif %}
      {% endblock body %}
    </DIV>

    <DIV ID="footer">
      {% block footer %}
      	</br>
      <p style="text-align:center;">
	&copy; 2014 Tiago's Movies Catalogue. All Rights Reserved.
      </p>
      {% endblock footer %}
    </DIV>
  </BODY>
</HTML>
